#save-category-modal.modal.hide.fade(data-keyboard='true', role='dialog', aria-labelledby='save-category-label')
    .modal-header
        h3#save-category-label Редактирование категорий
    .modal-body
        form
            .error.row-fluid
                .span12.bgcolor
                    .alert.alert-error
            .row-fluid
                .span8
                    label Название:
                    input.span12(type='text', data-model-field='name')
                .span4
                    label URL:
                    input.span12(type='text', data-model-field='url')
            .row-fluid
                .span8
                    label Заголовок в меню:
                    input.span12(type='text', data-model-field='nameInMenu')
                .span4
                    label Позиция в меню:
                    input.span12(type='text', data-model-field='posInMenu')
            .row-fluid
                label.control-label Описание:
                textarea.span12(rows='5', data-model-field='description')
            .row-fluid
                label.control-label Родительская категория:
                input.select2.span12(type='hidden', data-model-field='parentId')
            .row-fluid.checkbox-wrap
                label.checkbox Опубликована
                    input(type='checkbox', data-model-field='published')

    .modal-footer
        button.submit-btn.btn.btn-primary OK
        button.btn.btn-primary(data-dismiss='modal', aria-hidden='true') Отмена
