!!! 5
html
    head
        title='500 - Все будет хорошо!'
    body
        h1='Мы уехали за новыми подарками и сюрпризами – вернемся через 10 минут!'
        div
            span='Пока нас нет, '
            a(href=baseUrl)='выберите замечательный подарок из нашего ассортимента'

