extends ./layout

block css
    link(rel='stylesheet', href='/css/style.css')

block content
    include shop/header
    include shop/navigation

    .b-page.container
        include shop/left-menu
        .b-content.span10
            include shop/gallery


block script
    script(src='/js/shop/script.js')


