extends ./layout

block css
    link(rel='stylesheet', href='/css/style.css')

block content
    include shop/header
    include shop/navigation

    .b-page
        block top-panel

        .container.b-page__central-part
            include shop/left-menu
            .b-main-content
                block main-content

block script
   script(src='/js/shop/script.js')
