extends ./layout

block content
    include shop/header



    .b-page.container



                .b-content.span10
            .b-gallery
                .b-gallery__row.clearfix
                    .b-gallery__holder.clearfix
                        .b-gallery__cell.b-product
                            1
                                .b-gallery__cell.b-product
                            2
                                .b-gallery__cell.b-product
                            3
                                .b-gallery__cell.b-product
                            4
                                .b-gallery__cell.b-gallery__cell_size_big
                        .b-category-info
                            <h1.b-category-info__title>
                                <a href='#'.b-category-info__link>Подарок мужчине на День Рождения
                            </h1>
                            <p.b-category-info__text>
                                Удивите любимого мужчину необычным подарком на День Рождения!
                                В нашем магазине найдется подарок для любого мужчины: сильного и умного, веселого и серьезного, элегантного и брутального.
                                Но не забываейте самого главного – каждый мужчина в душе ребенок!
                                И, возможно, ваш муж, брат или друг будет счастлив провести время за веселой игрой или головоломкой,
                                просыпаться под звуки оригинального будильника и прятаться под дождем под зонтом-пистолетом!
                                Будьте креативными – и ваш подарок запомниться на долгие годы!
                                Для солидного мужчины у нас тоже широкий выбор подарков – ежедневники, дизайнерские аксессуары и многое другое.
                                День Рождения – замечательный повод порадовать близкого человека.
                            </p>
                                <div class='b-gallery__row b-gallery__row_order_reverse clearfix'>
                    .b-gallery__holder.clearfix
                        .b-gallery__cell.b-product
                            1
                                .b-gallery__cell.b-product
                            2
                                .b-gallery__cell.b-product
                            3
                                .b-gallery__cell.b-product
                            4
                                <div class='b-gallery__cell b-gallery__cell_size_big b-category-text'>
                        5
                                        
