.b-gallery
    .b-gallery__row.clearfix
        .b-gallery__holder.clearfix
            .b-gallery__cell.b-product Товар 1
            .b-gallery__cell.b-product Товар 2
            .b-gallery__cell.b-product Товар 3
            .b-gallery__cell.b-product Товар 4
        .b-gallery__cell.b-gallery__cell_size_big
            //.b-category-info
            //    h1.b-category-info__title
            //        a.b-category-info__link(href='#') Подарок мужчине на День Рождения
            //
            //    p.b-category-info__text
            //        | Удивите любимого мужчину необычным подарком на День Рождения!
            //        | В нашем магазине найдется подарок для любого мужчины: сильного и умного, веселого и серьезного, элегантного и брутального.
            //        | Но не забываейте самого главного – каждый мужчина в душе ребенок!


    .b-gallery__row.b-gallery__row_order_reverse.clearfix
        .b-gallery__holder.clearfix
            .b-gallery__cell.b-product Товар 1
            .b-gallery__cell.b-product Товар 2
            .b-gallery__cell.b-product Товар 3
            .b-gallery__cell.b-product Товар 4
        .b-gallery__cell.b-gallery__cell_size_big Товар 5
