.b-header
    .container.clearfix
        //img(src='/images/logo.png', width='700px', height='62px')
        .b-shopping-cart.pull-right
            a.b-shopping-cart__link(href='#') Корзина
                span.b-shopping-cart__icon
                span.b-shopping-cart__count 0
        .b-phone.pull-right +7 495 111-11-11
    .b-header__promo-text-wrap
        .container
            strong.b-header__promo-text
                | Магазин оригинальных подарков, удивительных вещей и креативных товаров для дома
