.b-left-menu
    h3.b-left-menu__header Каталог
    ul.b-left-menu__list.b-left-menu__list_type_root

        - categories && categories.forEach(function render(category) {
            - var hasChildren = category.children && category.children.length;

            li(class='b-left-menu__item' + (hasChildren ? ' b-left-menu__item_has-inner_yes' : '') + (category.id ? ' b-left-menu__item_state_current' : ''))
                a.b-left-menu__item-title(href=category.url)=category.name
                - if (hasChildren) {
                    span.b-left-menu__expand +
                    span.b-left-menu__collapse –
                    ul.b-left-menu__list
                        - category.children.forEach(render);
                - }
        - })
