.b-left-menu.span2
    h3.b-left-menu__title Каталог
    ul.b-left-menu__list.b-left-menu__list_type_root
        li.b-left-menu__item.b-left-menu__item_has-inner_yes
            .b-left-menu__item-title Подарки для мужчины
            ul.b-left-menu__list

                li.b-left-menu__item.b-left-menu__item_has-3
                    .b-left-menu__item-title Кому дарить?
                    ul.b-left-menu__list
                        li.b-left-menu__item
                            .b-left-menu__item-title Мужу
                        li.b-left-menu__item
                            .b-left-menu__item-title Любимому парню
                        li.b-left-menu__item
                            .b-left-menu__item-title Сыну

                li.b-left-menu__item.b-left-menu__item_has-inner_yes
                    .b-left-menu__item-title Когда дарить?
                    ul.b-left-menu__list
                        li.b-left-menu__item
                            .b-left-menu__item-title День Рождения
                        li.b-left-menu__item
                            .b-left-menu__item-title Годовщина свадьбы
                        li.b-left-menu__item
                            .b-left-menu__item-title Новый год
