ul.b-main-categories.clearfix
    li.b-main-categories__item
        a.b-main-categories__item-link(href='#') Подарки для женщины
        span.b-main-categories__item-divider /
        .b-main-categories__dropdown.span12
            .b-main-categories__dropdown-content.clearfix
                .b-subcategories
                    h4.b-subcategories__title Кому дарить?
                    ul.b-subcategories__list
                        li.b-subcategories__item
                            a.b-subcategories__item-link Жене
                                li.b-subcategories__item
                            a.b-subcategories__item-link Любимой девушке
                                li.b-subcategories__item
                            a.b-subcategories__item-link Маме
                                li.b-subcategories__item
                            a.b-subcategories__item-link Коллеге
                                li.b-subcategories__item
                            a.b-subcategories__item-link Дочери
                                li.b-subcategories__item
                            a.b-subcategories__item-link Подруге

    li.b-main-categories__item  Подарки для мужчины
        span.b-main-categories__item-divider /
    li.b-main-categories__item Товары для дома
        span.b-main-categories__item-divider /
    li.b-main-categories__item Удивительные вещи
        span.b-main-categories__item-divider /
    li.b-main-categories__item Все для кухни
