.b-navigation.container
    ul.b-menu.clearfix
        li.b-menu__item
            a.b-menu__item-link(href='#') Скидки
        li.b-menu__item
            a.b-menu__item-link(href='#') Новинки
        li.b-menu__item
            a.b-menu__item-link(href='#') Каталог
        li.b-menu__item
            a.b-menu__item-link(href='#') Оплата/Доставка
        li.b-menu__item
            a.b-menu__item-link(href='#') О нас
        li.b-menu__item
            a.b-menu__item-link(href='#') Вопрос/Ответ
        li.b-menu__item
            a.b-menu__item-link(href='#') Контакты
    .input-append.b-search
        input.span3(type='text', placeholder='Введите название товара')
        span.add-on
            i.icon-search

    include ./main-categories
